@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Proje.Models.Model.Blog>
@{
    ViewBag.Title = "KategoriBlog";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-8 entries">
                @foreach (var item in Model)
                {
                    <article class="entry">

                        <div class="entry-img">
                            <img src="@item.ResimURL" width="870" alt="@item.Baslik" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="/Home/BlogDetay/@item.BlogId">@item.Baslik</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">@item.Kategori.KategoriAd</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                                @Html.Raw(item.Icerik.Substring(0, 100))
                            </p>
                            <div class="read-more">
                                <a href="/Home/BlogDetay/@item.BlogId">Okumaya devam et</a>
                            </div>
                        </div>

                    </article>
                }

                <div class="blog-pagination">
                    @Html.PagedListPager(Model, Sayfa => Url.Action("Blog", new { Sayfa }), PagedListRenderOptions.Classic)
                </div>

            </div><br />
            <div class="col-lg-4">

                <div class="sidebar">
                    <h3 class="sidebar-title">Kategoriler</h3>
                    @{
                        Html.RenderAction("BlogKategoriPartial", "Home");
                    }

                    <h3 class="sidebar-title">Son Blog Kayıtları</h3>
                    @{
                        Html.RenderAction("BlogKayitPartial", "Home");
                    }

                </div><!-- End sidebar -->
            </div><!-- End blog sidebar -->

        </div>
    </div>
</section>