@model Proje.Models.Model.Blog
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Kayıt Düzenle</h2>
<div class="card">
    <div class="card-body">
        <!-- Browser Default Validation -->
        @*<form class="row g-3" method="post" action="/Blog/Create" enctype="multipart/form-data">*@

        @using (Html.BeginForm("Edit", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken();
            <div class="col-mb-3">
                <label for="validationDefault01" class="form-label">Başlık</label>
                <input type="text" class="form-control" value="@Model.Baslik" id="Baslik" name="Baslik" required>
            </div>
            <div class="col-mb-3">
                <label for="validationDefault02" class="form-label">Kategori</label>
                @Html.DropDownList("KategoriId", null, new { @class = "form-control" })
            </div>
            <div class="col-mb-3">
                <label for="validationDefault02" class="form-label">İçerik</label>
                <textarea class="ckeditor" name="Icerik">@Model.Icerik</textarea>
            </div>
            <div class="col-mb-3">
                <label for="validationDefault01" class="form-label">Önceki Resim</label>
                <img src="@Model.ResimURL" width="150" height="100" />
            </div>
            <div class="col-mb-3">
                <label for="validationDefault01" class="form-label">Resim</label>
                <input type="file" class="form-control" name="ResimURL" accept=".png,.jpg,.jpeg">
            </div>



            <div class="col-12">
                <button class="btn btn-primary" type="submit">Ekle</button>
                <button class="btn btn-outline-danger" type="submit"><a href="/Blog/Index/">İptal</a></button>

            </div>
        }

        @*</form>*@
        <!-- End Browser Default Validation -->

    </div>
</div>


